{%- if version.latest %}
image: {{ image }}:latest
tags: ['{{ version.current }}']
{%- else %}
image: {{ image }}:{{ version.current }}
{%- endif %}
manifests:
{%- for platform in platforms %}
  -
    image: {{ image }}:{{ version.current }}-{{ platform['architecture'] }}{% if platform.get('tag-variant') %}{{ platform['variant'] }}{% endif %}
    platform:
      architecture: {{ platform['architecture'] }}
      os: {{ platform['os'] }}
{%- if platform.get('variant') %}
      variant: {{ platform['variant'] }}
{%- endif %}
{%- endfor %}
